@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
html,
body {
	@apply h-full overflow-hidden;
	background: url(./bg.jpg) no-repeat center center;
	background-size: cover;
}
